***
**Tutorial 2 for Chapter 3**

Case study 10: Mining data on user's frequent areas of activity
***
<font color = 'darkred'>*Reference:*
<font color = 'darkred'>*数据挖掘原理与应用*

<!-- Acknowledgement:  
**i2DM (Tan, Steinbach, Kumar (2018) Introduction to Data Mining , 2nd Ed, Pearson )** Pearson Press   -->
For the course AMA546 Statistical Data Mining   
Lecturer: Dr. Catherine Liu    
AMA, PolyU, HKSAR

# Objectives of the analysis

The following information (Out[2]) pertains to a 288 $\times$ 3 table **'DBSCAN.csv'**. 

'DBSCAN.csv' consists of **the daily positioning data of a user at five minute intervals**.

In [5]:
import pandas as pd
data = pd.read_csv('/Users/ranjiang/Library/CloudStorage/OneDrive-TheHongKongPolytechnicUniversity/data mining/TUT_clustering/DBSCAN/DBSCAN.csv',
                  encoding='utf8', engine='python')
data

        时间         x         y
0     0:00  1.010065  1.015373
1     0:05  1.007142  1.005767
2     0:10  1.010765  1.005684
3     0:15  1.008393  1.008145
4     0:20  1.004085  1.015046
..     ...       ...       ...
283  23:35  1.810196  1.295716
284  23:40  1.710392  1.094984
285  23:45  1.038173  1.134390
286  23:50  1.352387  1.132372
287  23:55  1.395330  1.275665

[288 rows x 3 columns]

Out[3] shows **types of attributes** in 'DBSCAN.csv'. Attribute '时间' also can be replaced by 'time'.

In [3]:
data.dtypes

时间     object
x     float64
y     float64
dtype: object

The **objective** of this study is to leverage the geolocation data to provide a **synopsis** of the regions in which the user is **actively** utilizing the **DBSCAN** algorithm.

<font color = green> *Hint*: consider the package 'sklearn.cluster'. </font>